.validator {
	height: 50px;
    width: 335px;
	background: rgb(100,100,100);
	border: 2px dotted rgb(32,32,32);
    border-radius: 12px;
}

.fraction {
	height: 30px;
	width: 230px;
	margin: 5px;
	background: rgb(200,200,200);
	border: 2px solid rgb(200,200,200);
	border-radius: 6px;
	font-size: 20px;
	text-align: right;
	color: rgb(20,20,20);
}

.checker {
	height: 40px;
	width: 70px;
	margin: 5px;
	background: rgb(100,250,100);
	border: 2px solid rgb(100,250,100);
	border-radius: 6px;
	font-size: 20px;
}

